<nav class="navbar">
  <ul class="nav-links">
    <li>
      <a routerLink="/pokemon-list" routerLinkActive="active-link">Pokémon List</a>
    </li>
    <li>
      <a routerLink="/favorites" routerLinkActive="active-link">Favorites</a>
    </li>
    <li *ngIf="shouldShowFilter()">
      <select
        id="type-filter"
        class="type-filter"
        (change)="onTypeFilterChange($event)"
      >
        <option value="all">All</option>
        <option *ngFor="let type of pokemonTypes" [value]="type">
          {{ type | titlecase }}
        </option>
      </select>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
